@import "src/styles/index";

header {
    background: $color-15;
    margin-bottom: 40px;
    padding: 12px 0px;

    & > div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: 60px;
            height: 60px;
        }

        h2 {
            font-size: 13px;
            line-height: 15px;
        }
    }
}
