$color-1: #45617e;
$color-2: #f9fafb;
$color-3: #f3f4f8;
$color-4: #888888;
$color-5: #a1c4ff;
$color-6: #a7bedb;
$color-7: #f85776;
$color-8: #aaaaaa;
$color-9: #d2ddeb;
$color-10: #e9eaed;
$color-11: #000000;
$color-12: #161616;
$color-13: #3c94ef;
$color-14: #D2DDEB;
$color-15: #ffffff;
